body {
    padding-top: 0;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    font-size: 16px;
    transition: 1s;
}

#input-search {
    height: 50px;
    filter: drop-shadow(0px 0px 2px #00000055);
    border: none;
    margin-right: -20px;
    margin-left: 20px;
    width: 0px;
    border-radius: 3px;
    padding: 10px;
    transition: 1s;
    display: none;    
    font-size: 14px;
    color: #464646;
}

form#searchform {
    flex-direction: row;
    margin-right: 5vw;
}

#btn-search{
    padding: 0px;
    width: 0px;
}

/* Navigation bar */

nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top {
    background-color: #ffffff !important;
    height: 15vh;
    padding: 0px 5%;
    position: relative;
    filter: drop-shadow(0px 0px 2px #00000033);
}

a.nav-link {
    color: #212529 !important;
    font-weight: 400;
    padding: 14px 25px !important;
    font-family: 'Raleway', sans-serif;
}


div#navbarSupportedContentright {
    justify-content: right;
    align-items: center;
}

#company-logo-container{
    width: 20%;
    display: flex;
    justify-content: center;
}

img#company-logo {
    width: 100%;
    padding: 10px;
    min-width: 175px;
    filter: grayscale(1);
}


#campany-logo-link{
    width: 100%;
}

a {
    text-decoration: none;
    color: #212529;
    cursor: pointer;
}

.bx-search:before {
    content: "\ebf7";
    padding: 17px 17px 15px 17px;
    background-color: #393939;
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    margin: 0px 25px;
}

li.nav-item.subscribe {
    background-color: #0b66ac;
    border-radius: 2px;
}

li.nav-item.subscribe:hover {
    filter: drop-shadow(1px 1px 3px #00000022);
}


/* Country NAv Bar */

.country-news-selector {
    background: #ffffff;
    display: inline-block;
    width: 98.93vw;
    margin: 0;
    height: 0vh;
    transition: 1s;
    position: fixed;
}

ul#country-options-holder {
    padding: 30px 75px;
    list-style: none;
    display: none;
    margin-top: 7rem;
}


li.country-nav-item {
    display: inline-block;
    padding: 20px 0px;
    margin-right: 30px;
    font-weight: 500;
    height: 100%;
    width: 180px;
}

img.country-nav-item-flag {
    height: 25px;
    width: 35px;
    object-fit: cover;
    border-radius: 3px;
    margin: 0px 10px;
    filter: drop-shadow(0px 0px 2px #00000044);
}

div#country-news-selector-id {
    z-index: 1000;
    margin-top: -80px;
}

/* Footer CSS */

.footer-left-side {
    width: 15%;
    display: inline-block;
}

img.company-logo {
    width: 100%;
    filter: grayscale(1);
    margin: 0px 0px 15% 0px;
    min-width: 170px;
}

footer {
    height: 50vh;
}

.footer-container {
    padding: 20px;
    height: 40vh;
}

a.social-media-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

a.nav-link.signedin {
    padding: 0px !important;
    font-size: 14px;
    text-align: right;
}


/* Secondary Nav Bar */

nav.lower-nav-filter {
    width: 90%;
    height: 8vh;
    background: white;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #00000022;
}


.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.nav-link.secondary {
    height: 8vh;
    display: flex;
    align-items: center;
}

a.nav-link.secondary:hover {
    border-bottom: 2px solid #000000;
}

.active {
    border-bottom: 2px solid #000000;
    font-weight: 600 !important;
}


/* Top News Header */

.news-item-container.header-top-news {
    width: 90% !important;
    margin: auto;
    height: auto;
    display: block;
    transition: 1s;
}

img.news-item-image.header-top-news {
    height: 100%;
}

section.header-news-slidebar {
    display: block;
    margin: 20px;
    height: auto;
}

.news-item-image-container.header-top-news {
    height: 70vh;
}


.news-item-body-container.header-top-news {
    width: 90%;
    background-color: #ffffff !important;
    margin: auto;
    margin-top: -190px;
    display: block;
    padding: 5%;
    height: auto;
    filter: drop-shadow(2px 4px 6px #00000000);
}

h6 {
    font-size: 1rem;
    font-size: 18px;
}


h6.news-item-heading.header-top-news {
    font-family: 'Playfair Display', f;
    font-size: 3.3vw;
    padding: 15px 0px;
}

p.news-item-credentials.header-top-news {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.news-date {
    margin-left: 2%;
    font-weight: 400;
}

span.news-source-name {
    font-weight: 600;
    margin-right: 2%;
}

span.news-authors {
    margin: 0 1%;
}


span.circular-pagification {
    width: 15px;
    height: 15px;
    border: 3px solid #00000099;
    background-color: #ffffff;
    display: block;
    margin: 10px;
    border-radius: 15px;
}

.pagification-buttons {
    display: flex;
    position: relative;
    bottom: 0px;
}


p.news-item-description.header-top-news {
    margin-bottom: 50px;
    font-size: 16px;
}

.cpactive {
    margin-left: 0px;
    background-color: #101010 !important;
}

span.circular-pagification{
    cursor: pointer;
}

#slider-page-1, #slider-page-2, #slider-page-3, #slider-page-4,div#slider-page-5{
    display: none;
} 

.alert {
    position: absolute;
    padding: 0px 6px !important;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0 !important;
    font-size: 10px;
    margin: 0 !important;
    color: brown;
    background: #efb9b9;
    top: 291px;
    left: 53%;
    z-index: 1;
}

div#country-news-selector-id {
    width: 100vw;
    overflow-y: scroll;
    max-height: 95vh;
}


img.ad-image {
    width: 85%;
    margin: auto;
    display: block;
}

.ad-container {
    padding: 20px;
    margin: 20px;
}



@media (max-width: 1150px){
    .navbar-expand-lg .navbar-nav {
        font-size: 13px !important;
    }
    img.news-item-image.header-top-news {
        height: 90% !important;
    }
    .news-item-container.header-top-news {
        width: 100% !important;
    }    
}


@media (max-width: 1024px){
    .navbar-expand-lg .navbar-nav {
        font-size: 12px !important;
    }
    .bx-menu-alt-left:before {
        content: "\eb60";
        color: #4c4c4c;
        font-size: 35px;
    }  
}



@media (min-width: 1800px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1720px;
    }

    .news-item-container {
        width: 24%  !important; 
    }
}


#phonenav {
    display: none;
    width: 320px;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 109px;
    background: #ffffff;
}

@media (max-width: 991px){
    .advertisement-graphics {
        display: flex!important;
        justify-content: start !important;
      }

    .container, .container-sm {
        max-width: 100vw;
    }
    .phone {
        flex-direction: column !important;
        align-items: baseline!important;
        display: none;
        position: fixed;
        left: 6%;
        z-index: 2;
    }
    .show-class{
        display: block!important;
    }
    input#input-search {
        display: block !important;
        width: 150px !important;
        margin-left: 87px !important;
    }

    form#searchform {
        flex-direction: row-reverse!important;
    }

    li.nav-item.subscribe {
        top: 350px;
        left: 8.5%;
    }
    ul.navbar-nav.mr-auto.phone.top1 {
        top: 120px;
    }
    li.nav-item.phone.top2 {
        top: 180px;
    }
    ul.navbar-nav.mr-auto.phone.top3 {
        top: 220px;
    }
    .news-item-container {
        width: 49%!important;
        transition: 1s;
    }

    li.nav-item {
        font-size: 14px;
    }

    #company-logo-container {
        width: 20%;
        margin: auto;
    }

    form#adform {
        width: 80% !important;
        padding: 30px !important;
        margin-left: 5% !important;
        margin-top: 0!important;
    }
    section.advertisement {
        padding-bottom: 50 !important;
    }
}

@media (max-width: 786px){
    a.nav-link {
        padding: 14px 11px !important;
        font-size: 11px;
    }
    section.advertisement {
        flex-direction: column;
    }
    .advertisement-graphics {
        width: 94vw !important;
        height: 600px;
        object-position: top;
        
    }
    .advertisment-copy {
        width: 73vw !important;
        padding: 9px 5%!important;
    }
    img.advertisement-image {
        width: 100% !important;
        height: 90%  !important;        
        padding-bottom: 0!important;
    }
    h1 {
        font-size: 4.7vw !important;
        width: 80%;
        font-weight: 700;
    }

    p.advertisment-content {
        width: 100% !important;
        font-size: 14px !important;
        margin: 0;
    }
    button{
        padding: 13px !important;
        font-size: 14px;
    }
}




@media (max-width: 1370px){
    .login-contianer {
        width: 28vw !important;
    }
}

@media (max-width: 1270px){
    .login-contianer {
        width: 31vw !important;
    }
}

@media (max-width: 1170px){
    .login-contianer {
        width: 34vw !important;
    }
}

@media (max-width: 1070px){
    .login-contianer {
        width: 37vw !important;
    }
}

@media (max-width: 990px){
    .login-contianer {
        width: 41vw !important;
    }
    
}

@media (max-width: 850px){
    .login-contianer {
        width: 44vw !important;
    }
}


@media (max-width: 780px){
    .login-contianer {
        width: 50vw !important;
    }
}


@media (max-width: 690px){
    .login-contianer {
        width: 55vw !important;
    }
}

@media (max-width: 610px){
    .login-contianer {
        width: 65vw !important;
    }
}


@media (max-width: 520px){
    .login-contianer {
        width: 73vw !important;
    }
}


@media (max-width: 600px){
    span.circular-pagification {
        width: 13px;
        height: 13px;
        margin: 4px;
        border-radius: 13px;
    }
    body{
        font-size: 14px !important;
    }
    img.advertisement-image {
        width: 85% !important;
    }
    .advertisement-graphics {
        width: 94vw !important;
        object-position: top;
    }
    .news-item-container {
        width: 95%  !important; 
    }
    .news-item-image-container.header-top-news {
        height: 50vh !important;
    }

    img.news-item-image {
        margin-bottom: 25px;
        height: 300px !important;
    }

    .page-number {
        top: 270px !important;
        right: 30px !important;
    }
    .news-item-container.header-top-news {
        width: 100% !important;
    }
    p.news-item-description.header-top-news {
        margin-bottom: 30px !important;
        font-size: 14px !important;
    }

}


span.pagecount {
    position: absolute;
    right: 3%;
    top: 3%;
    background: #0b66ac;
    padding: 16px;
    border-radius: 100%;
    filter: drop-shadow(2px 2px 4px #00000022);
    color: #ffffff;
}

.adformheader {
    margin: 10px 0px;
    color: #0b66ac;
}

button.adformbtn {
    background-color: #0b66ac;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 15px;
}


