<hr>

<div class="footer-container">
    <div class="footer-left-side">
        <a target="blank" href="{{ url_for('home') }}" ><img src="../static/images/gleanerwordedlogo.png" alt="The Gleaner Logo" class="company-logo"></a>
        <a target="blank" href="https://www.instagram.com/jamaicagleaner/" class="social-media-link"><p style="margin-bottom: 1.5rem;">Instagram</p></a>
        <a target="blank" href="https://www.facebook.com/search/top?q=jamaica%20gleaner" class="social-media-link"><p style="margin-bottom: 1.5rem;">Facebook</p></a>
        <a target="blank" href="https://twitter.com/JamaicaGleaner" class="social-media-link"><p style="margin-bottom: 1.5rem;">Twitter</p></a>
    </div>
</div>
<p style="font-size: 14px;text-align: center;">Copyright &copy; Demitri Grant Inc.</p>
